.modal {
  width: 480px;
  height: 634px;
  border-radius: 12px;
  background: #c2f5ff;

}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.title {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  height: 96px;
  width: 276px;
  text-align: center;
  font-size: 40px;
font-weight: 400;
margin-bottom: 28px;
}

.inputLeaderName {
  border-radius: 10px;
  border: 1px solid #bdbdbd ;
background: rgb(255, 255, 255);
width: 276px;
height: 45px;
margin-bottom: 28px;
& placeholder {
  color: rgb(153, 153, 153);
padding-left: 58px;
}
}

.description {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: 10px;
}

.time {
  color: #000;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;

  margin-bottom: 40px;
}

.leaderMessage {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  text-align: center;
  Font-weight: 400;
  font-size: 18px;
margin-bottom: 10px;
margin-top: 10px;
}

.linkToLeaderboard {
  font-family: StratosSkyeng;
  color: rgb(0, 73, 128);
  margin-top: 18px;
  font-size: 16px;
}