.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.lifesCont {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: -12px;
  &::after {
    content: "❤️";
  }
}

.powers {
  display: flex;
  gap: 15px;
}

.blockProzrenie,
.blockAlohomora {
  position: relative;
}

.blockAlohomora {
  position: relative;
  border-radius: 50%;
  background-color: rgb(194, 245, 255);
  border: none;
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
}

.prozrenie {
  display: block;
  width: 64px;
  height: 64px;
  background: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.prozrenie:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5); /* fallback for IE */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.alohomora {
  border-radius: 50%;
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  background: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.alohomora:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5); /* fallback for IE */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.popup {
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: -90px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 222px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #004980;
  background-color: #c2f5ff;
}

.popup_heading {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.popup_info {
  display: block;
  text-align: center;
}

.blockProzrenie:hover .popup {
  display: block;
}

.blockAlohomora:hover .popup {
  display: block;
}
